h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}

.main-container {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 120px;
  padding-block: 24px;
  border-radius: 8px;
  background-color: #f0ebe3;
  gap: 12px;
}

.card-button {
  background-color: #ffffff;
  border: none;
  padding-inline: 16px;
  padding-block: 12px;
  min-height: 42px;
  min-width: 42px;
  color: black;
}

.refresh-button {
  background-color: black;
  color: white;
  padding-inline: 12px;
  padding-block: 8px;
  border-radius: 4px;
}

.toe-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 8px;
}
